

.footer {
    padding: 2rem;
    background: rgb(134,134,134);
    background: linear-gradient(0deg, rgba(134,134,134,1) 0%, rgba(27,27,27,1) 0%, rgba(0,88,170,1) 61%);
    


 p{
    color: rgb(233, 233, 233);

 } 
}