@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
             border-color: $radius;
                 color: black
  }


  .section {
    @include border-radius(10px);
  }

 

@mixin theme($theme: color) {
    padding: 2rem;
    background: rgb(134, 134, 134);
    background: linear-gradient(0deg, rgba(134, 134, 134, 1) 0%, rgba(27, 27, 27, 1) 0%, rgba(0, 88, 170, 1) 61%);
  }
  
  .footer {
    @include theme;
  }

@mixin theme2($theme2: color) {
    background-color: rgb(228, 228, 228);
    background: radial-gradient(circle, rgba(134,134,134,1) 0%, rgba(228,228,228,1) 0%, rgba(199,199,199,1) 100%);
  }
 
  .section {
      @include theme2
  }

  .servicios {
      @include theme2
  }
